section {
    width: 46%; 
    float: left; 
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2rem;

}

main::after {
    content: "";
    display: table;
    clear: both;
}

#habitat-requirements {
    background-image: url("../images/pattern-zebra.svg");
    background-color: var(--color-menu);
    color: white;
    border-radius: 1rem;
    padding: 2rem;
}


#habitat-requirements div {
    display: inline-block;
    margin: 0.3rem
}

#habitat-requirements div img {
    vertical-align: middle;
}

#req-continents img, #req-biomes img {
    vertical-align: middle;
}

#req-continents h3, #req-biomes h3 {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

#animal-selection {
    padding-top: 1rem;
}

#animal-selection select {
    text-align: center;
    font-size: smaller;
    font-weight: 700;
    font-family: var(--font-content);
    color: var(--color-menu);
    vertical-align: middle;
    border-radius: 0.3rem;
    border: 0.2rem solid var(--color-menu);
    background-image: url("../images/pattern-zebra.svg");
    background-color: rgba(196, 194, 187, 1);
}

select option {
    max-width: 16rem;
}

.button-add-animal {
    background-image: url("../images/pattern-zebra.svg");
    background-color: var(--color-menu);
    color: white;
    font-size: smaller;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

.button-delete {
    background: none;
    border: none;
    cursor: pointer;
}

#selected-animal {
    margin-top: 1rem;
    margin-right: 1rem;
}

.selected-animal {
    margin-bottom: 0.5rem;
    padding-bottom: 0.7rem;
}

.selected-animal input, .selected-animal img {
    vertical-align: middle;
}

input {
    text-align: center;
    font-weight: 700;
    width: 3rem;
    font-family: var(--font-content);
    color: var(--color-menu);
    border-radius: 0.3rem;
    border: 0.2rem solid var(--color-menu);
    background-color: rgba(196, 194, 187, 1);
}

@media screen and (max-width: 1250px) {
    
    section {
    width: auto; 
    padding: 1rem;
    float: none;
    }
}

@media screen and (max-width: 750px) {
   
    .selected-animal img {
        height: 1.5rem;
    }
   
    #animal-selection select {
        max-width: 15rem;
    }
}